.navbar-custom {
    background-color: #FF8D76;
    height: 30px;
}

.title-text {
    font-size: 19px;
    color: #000000;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.big-text {
    font-size: 64px;
    opacity: 100%;
}

.normal-text {
    font-size: 12px;
    opacity: 100%;
}

.chart-text {
    font-size: 20px;
    opacity: 100%;
    fill: #000;
}

.link-text {
    color: #7A1C18;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.link-text:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.drop-down-custom {
    width: 100px;
    height: 25px;
    padding: 0 0 0 3px;
    border-color: #FFC7B2;
    text-align: left;
    margin: 3px;
    background-color: #FFC7B2;
    font-size: 14px;
    color: #000;
    --bs-btn-active-bg: rgba(255, 199, 178, 0.5);
    --bs-btn-active-color: #000;

}

.drop-down-custom:hover,
.drop-down-custom:active,
.drop-down-custom:focus,
.drop-down-custom.active {
    width: 100px;
    height: 25px;
    padding: 0 0 0 3px;
    border-color: rgba(255, 199, 178, 0.5);
    text-align: left;
    margin: 3px;
    background-color: transparent;
    font-size: 14px;
    color: #000;
}

.drop-down-custom::after {
    text-align: right;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}

.my-dropdown {
    border-radius: 0;

}
